In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('/home/ndx/Innowise tasks/Innowise_task_8/airflow/dags/innowise_task_8/test_data/split_data_2016-05.csv')
data

,departure,return,departure_id,departure_name,return_id,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air temperature (degC),month
0,2016-05-02 09:31:00,2016-05-02 09:32:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,68.0,0.001765,60.166890,24.944261,60.166890,24.944261,14.1,2016-05
1,2016-05-02 09:58:00,2016-05-02 09:59:00,A10,Erottajan aukio,A10,Erottajan aukio,2.0,36.0,0.003333,60.166890,24.944261,60.166890,24.944261,14.1,2016-05
2,2016-05-02 10:19:00,2016-05-02 10:19:00,A10,Erottajan aukio,A10,Erottajan aukio,0.0,14.0,0.000000,60.166890,24.944261,60.166890,24.944261,14.5,2016-05
3,2016-05-02 15:25:00,2016-05-02 16:22:00,A10,Erottajan aukio,B01,Hakaniemi (M),2536.0,3400.0,0.044753,60.166890,24.944261,60.178106,24.952181,14.5,2016-05
4,2016-05-02 15:28:00,2016-05-02 15:34:00,A12,Unioninkatu,A09,Vanha kirkkopuisto,737.0,405.0,0.109185,60.167457,24.951023,60.165288,24.939150,14.5,2016-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79416,2016-05-31 23:55:00,2016-06-01 00:07:00,B08,Sörnäinen (M),C02,Ooppera,2111.0,715.0,0.177147,60.187736,24.960980,60.182553,24.926687,17.1,2016-05
79417,2016-05-31 23:55:00,2016-06-01 00:06:00,B08,Sörnäinen (M),C02,Ooppera,2095.0,656.0,0.191616,60.187736,24.960980,60.182553,24.926687,17.1,2016-05
79418,2016-05-31 23:56:00,2016-06-01 00:08:00,A40,Lastenlehto,A06,Viiskulma,1194.0,705.0,0.101617,60.165812,24.927021,60.160986,24.941776,17.1,2016-05
79419,2016-05-31 23:58:00,2016-06-01 00:13:00,A27,Mannerheimintie,A35,Apollonkatu,2585.0,944.0,0.164301,60.169072,24.939419,60.176080,24.922394,17.1,2016-05
79420,2016-05-31 23:58:00,2016-06-01 00:25:00,A01,Kaivopuisto,A12,Unioninkatu,2703.0,1627.0,0.099680,60.155445,24.950293,60.167457,24.951023,17.1,2016-05

In [11]:
data.groupby('departure_name').count()[['return']].reset_index()

           departure_name  return
0             Apollonkatu    2630
1                   Baana    2383
2           Brahen kenttä    1676
3             Designmuseo    1335
4             Eerikinkatu    1113
5              Eläinmuseo     993
6         Erottajan aukio    2006
7         Haapaniemenkatu    1286
8           Hakaniemi (M)    1733
9         Hietalahdentori    2410
10           Itämerentori    3090
11      Kaisaniemenpuisto    1837
12            Kaivopuisto    2312
13             Kamppi (M)    3267
14            Kanavaranta    1229
15         Kansallismuseo     797
16     Kapteeninpuistikko    1511
17            Karhupuisto    1009
18            Kasarmitori    1108
19      Kauppakorkeakoulu    2474
20                 Kiasma    1473
21        Laivasillankatu    1057
22            Lastenlehto    1210
23        Liisanpuistikko    1336
24             Linnanmäki    1254
25        Mannerheimintie    1528
26              Mastokatu     588
27       Merisotilaantori     588
28               Narinkka    1749
29                Ooppera    2902
30    Rautatientori / itä    2657
31  Rautatientori / länsi    2565
32             Ritarikatu    1066
33           Senaatintori    1434
34              Sepänkatu    2563
35          Sörnäinen (M)    2920
36             Töölönkatu    1263
37       Töölönlahdenkatu    3052
38             Töölöntori    1082
39            Unioninkatu    3001
40     Vanha kirkkopuisto    1771
41         Varsapuistikko    1618
42              Viiskulma    1991
43             Ympyrätalo    2554

In [13]:
data.groupby(['departure_name', 'return_name']).count()[['return']].reset_index()

     departure_name         return_name  return
0       Apollonkatu         Apollonkatu     272
1       Apollonkatu               Baana      50
2       Apollonkatu       Brahen kenttä      49
3       Apollonkatu         Designmuseo      25
4       Apollonkatu         Eerikinkatu      29
...             ...                 ...     ...
1923     Ympyrätalo         Unioninkatu      84
1924     Ympyrätalo  Vanha kirkkopuisto      43
1925     Ympyrätalo      Varsapuistikko     133
1926     Ympyrätalo           Viiskulma      39
1927     Ympyrätalo          Ympyrätalo     245

[1928 rows x 3 columns]